# folders holding data (which tends to be too big for git), bot do sync the readme files
data/raw_external/*
!data/raw_external/README.md
!data/raw_external/SwissProt-2020_02-protein-evidence.tsv

data/intermediate/*
!data/intermediate/README.md
!data/intermediate/brenda_2017_1/
!data/intermediate/brenda_2019_2/
!data/intermediate/BRENDA_for_paper/

data/intermediate/brenda_2017_1/*
!data/intermediate/brenda_2017_1/1_1_3_15_BRENDA_sequences_filtered_2017_1.fasta
!data/intermediate/brenda_2017_1/1_1_3_15_BRENDA_sequences_filtered_2017_1_unirep.zip

data/intermediate/brenda_2019_2/*
!data/intermediate/brenda_2019_2/1_1_3_15_BRENDA_sequences_filtered_2019_2.fasta
!data/intermediate/brenda_2019_2/1_1_3_15_BRENDA_sequences_filtered_2019_2_unirep.zip

data/intermediate/BRENDA_for_paper/*
!data/intermediate/BRENDA_for_paper/parsed_info.zip


data/final/brenda_2019_2/all_brenda_domain_data.tsv

# the scratch folder which, by definition should not contain anything worth saving
scratch/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Other rubbish that accumulates
\.#*
*~
.Rproj.user
.Rhistory
.RData
.ipynb_checkpoints
